<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Hry o zaklínači</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="nav">
        <a href="../index.html">Úvodní stránka</a>
        <a href="zaklinac.html">Zaklínač Geralt a jeho život</a>
        <a href="hry.html">Hry ze světa zaklínače</a>
        <a href="serial.html">Seriály ze světa zaklínače</a>
    </div>

<div class="container"> 
    <div class="strany"><div class="sticky2"></div>
    </div>

    <div class="prostredek">
        <h4>Počítačové hry</h4>
        <table>
            <caption>
                Seznam her ze světa zaklínače
            </caption>
            <thead>
                <tr>
                <th>
                    Název
                </th>
                <th>
                    1. DLC
                </th>
                <th>
                    2. DLC
                </th>
                <th>
                    Společnost
                </th>
                <th>
                    Datum vydání
                </th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="titul" colspan="3"><a href="#zaklinac1">
                        Zaklínač</a>
                    </td>
                    <td>
                        CD Projekt red
                    </td>
                    <td  rowspan="2">
                        2007 až 2009
                    </td>
                </tr>
                <tr>
                    <td class="titul" colspan="3"><a href="#zaklinac2">
                        Zaklínač 2: Vrahové králů</a>
                    </td>
                    <td>
                        CD Projekt red
                    </td>
                </tr>
                <tr>
                <td class="titul2"><a href="#zaklinac3">
                    Zaklínač 3: Divoký hon</a>
                </td>
                <td class="titul2"><a href="#srdcezkamene">
                    Srdce z kamene</a>
                </td>
                <td class="titul2"><a href="#ovineakrvi">
                    O víně a krvi</a>
                </td>
                <td>
                    CD Projekt red
                </td>
                <td>
                    2015
                </td>
                </tr>
            </tbody>
        </table>
        <article>
            <section>
                <h2 id="zaklinac1">Zaklínač</h2>
                <p>Geralt se po ztrátě paměti probouzí na Kaer Morhen. Musí se rozpomenout
                    na své zaklínačské dovednosti. A musí to udělat rychle, neboť
                    jej čeká boj proti všehoschopné organizaci s názvem Salamandr.
                    Zaklínači na jeho cestě pomáhá Marigold, Zoltan Chivay nebo čarodějka
                    Triss Ranuncul, Yeneffer z Vegenburgu se v této hře nevyskytuje. 
                    Tato hra je jednou z prvních RPG, v níž hráčova rozhodnutí mají
                    opravdu viditelný vliv na příběh.
                </p>
            </section>
            <section>
                <h2 id="zaklinac2">Zaklínač 2: Vrahové králů</h2>
                <p>Geralt se stane podezřelým z vraždy krále Foltesta. S pomocí svých
                    přátel musí očistit své jméno a zastavit L´ži čarodějek, která stojí
                    za útoky. Geralt si také musí vybrat mezi podporou Vernona Roche,
                    velitele temerského praporu a Iorwetha, velitele Scoia´tael. Geraltovi
                    na jeho cestě opět pomáhají jeho přátelé, nejvíce Triss Ranuncul.
                    Geraltovi se v této hře také vrátí paměť, díky čemuž si vzpomene
                    na čarodějku Yeneffer. V tomto titulu mají hráčova rozhodnutí opět
                    významný vliv na příběh.
                </p>
            </section>
            <section>
                <h2 id="zaklinac3">Zaklínač 3: Divoký hon</h2>
                <p>Geralt, kterému se již vrátila paměť, se vydává hledat Ciri. Pátrání
                    začíná ve Velenu, kde potká svoji známou, čarodějku Keiru Metz. Další
                    stopa ho zavede do Novigradu, kde mimo jiné pomáhá čarodějce Triss
                    Ranuncul s organizovaným útěkem čarodějů ze města nebo zamilovanému
                    Marigoldovi. Další události zavedou Geralta na Skeligge, kde se konečně
                    potkává s Yenffer, která se za ty roky vůbec nezměnila. Nakonec se
                    zaklínači podaří najít Ciri a odvede ji na Kaer Morhen. Zde se strhne
                    bitva mezi Bílým Vlkem s jeho spojenci a Divokým honem, jenž pátrá
                    po Ciri, na straně druhé. Bitva skončí nerozhodně. Při boji zemře Vesemir.
                    Finální boj se potom strhne na Skeligge. Osud hlavních postav závisí
                    na zaklínačových rozhodnutích. Bílý vlk si může vybrat mazi Triss, Yeneffer
                    a osamělým životem. Zaklínačova rozhodnutí mají také vliv na osud Ciri,
                    která může po několika špatných rozhodnutích zemřít.
                </p>
            </section>
            <section>
                <h3 id="srdcezkamene">Srdce z kamene</h3>
                <p>Geralt přijme zakázku na zabití příšery ve stokách. Bílý Vlk
                    po vyčerpávajícím souboji příšeru skolí, právě když do stok
                    dorazí královská delegace. Ukáže se totiž, že příšera byla zakletý
                    princ. Geralt je zajat a má být popraven. V útěku na svobodu
                    mu pomůže záhadny Gaunter O´Dimm, za oplátku se zaklínač musí
                    dát do jeho služeb. Gaunter O´Dimm požaduje po zaklínači, aby
                    splnil tři přání Olgierda von Everica. Při plnění úkolů se
                    zaklínač dozvídá více o Gaunterovi, Evericovi a o napjatých
                    vztazích mezi nimi. V závěru DLC se musí Geralt rozhodnout, na čí
                    stranu se postaví.
                </p>
            </section>
            <section>
                <h3 id="ovineakrvi">O víně a krvi</h3>
                <p>Geralt přijíždí do Toussaintu, aby objasnil smrt velevážených
                    rytířů. Ukáže se, že je má na svědomí Dettlaff, vyšší upír.
                    Pokud je však hráč všímavý, objeví, že v pozadí je ještě někdo,
                    kdo celou dobu tahal za nitky... V závěru se Geralt utká
                    v jednom z nejepičtějších bojů s Dettlaffem. Toto DLC Nabízí
                    úplně novou lokaci, plnou vedlejších úkolů, zakázek a míst
                    k prozkoumání. Toussaint je tak rozsáhlý, že spousta herních
                    společností by takto rozsáhlé DLC vydávala bez ostychu za celou
                    novou hru.              
                </p>
            </section>
            </article>
        </div>

    <div class="strany"><div class="sticky2"></div>
    </div>
</div> 


</body>
</html>
