<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Seriály o zaklínači</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="nav">
        <a href="../index.html">Úvodní stránka</a>
        <a href="zaklinac.html">Zaklínač Geralt a jeho život</a>
        <a href="hry.html">Hry ze světa zaklínače</a>
        <a href="serial.html">Seriály ze světa zaklínače</a>
    </div>

<div class="container"> 
        <div class="strany"><div class="sticky3"></div>
            </div>
    
        <div class="prostredek">
            <h4>Seriály o zaklínači</h4>
            <p>O zaklínači byly natočeny dohromady 2 seriály. První vznikl v roce
                2002 v Polsku a neměl očekávaný úspěch. Naopak, doslova šílenství
                způsobil druhý seriál The Witcher od studia Netflix, jenž zaznamenal
                celosvětový úspěch. První řada seriálu zpracovala většinu povídek
                z první a druhé knížky. Tvůrcům se musí uznat, že se snaží držet
                knižek, ale ne úplně vždy se jim to povedlo. To však neznamená,
                že je seriál špatný, prostě není stoprocentně autentický s knihou.
                Studio Netflix v současnosti natáčí druhou sérii Zaklínače, v níž
                bude hrát hlavní roli opět Henry Cavil. Zde je seznam dílů první
                řady a jejjich stručné shrnutí (ještě je asi nutno poznamenat, že
                seriál není vyprávěn chronologicky):
            </p>
            <div class="pozadi">
                <h2>Seriál Zaklínač</h2>
                    <ol>
                        <li><a href="#zacatekkonce">Začátek konce</a></li>
                        <li><a href="#ctyrimarky">Čtyři marky</a></li>
                        <li><a href="#zradcemesic">Zrádce měsíc</a></li>
                        <li><a href="#ohostinachparchantechapohrbech">O hostinách, parchantech a pohřbech</a></li>
                        <li><a href="#touhyvlahvi">Touhy v láhvi</a></li>
                        <li><a href="#vzacnydruh">Vzácný druh</a></li>
                        <li><a href="#predpadem">Před pádem</a></li>
                        <li><a href="#necovice">Něco více</a></li>
                    </ol>
            </div>
            <article>
                <section>
                    <h3 id="zacatekkonce">Začátek konce</h3>
                    <p>Geralt přijíždí do Blavikenu, kde získá svoji přezdívku a Nilfgard
                        zaútočil na Cintru.
                    </p>
                </section>
                <section>
                    <h3 id="ctyrimarky">Čtyři marky</h3>
                    <p>Yeneffer začíná s výcvikem. Geralt přijímá zakázku na čerta, na
                        kterého vyrazí v doprovodu Marigolda.
                    </p>
                </section>
                <section>
                    <h3 id="zradcemesic">Zrádce měsíc</h3>
                    <p>Geralt zachraňuje dceru krále Foltesta. Zaklínači pomáhá čarodějka
                        Triss Ranuncul (rozdíl oproti knize). Yeneffer získá místo u
                        aerdenského dvora.
                    </p>
                </section>
                <section>
                    <h3 id="ohostinachparchantechapohrbech">O hostinách, parchantech a pohřbech</h3>
                    <p>Geralt se účastní plesu v Cintře. Ciri utíká do Brokilonu a Yeneffer
                        se neúspěšně snaží ochránit královnu s dítětem.
                    </p>
                </section>
                <section>
                    <h3 id="touhyvlahvi">Touhy v láhvi</h3>
                    <p>Geralt se poprvé potkává s Yeneffer. Potom spolu bojují proti džinovi.
                    </p>
                </section>
                <section>
                    <h3 id="vzacnydruh">Vzácný druh</h3>
                    <p>Geralt se účastní výpravy na draka. Potká přítele Zoltana, tajemného
                        rytíře Tři kavky i svou milovanou Yeneffer, s níž se udobří.
                    </p>
                </section>
                <section>
                    <h3 id="predpadem">Před pádem</h3>
                    <p>Skupina čarodějů v čele Triss s Yeneffer se rozhodne zastavit
                        nilfgardskou rozpínavost. 
                    </p>
                </section>
                <section>
                    <h3 id="necovice">Něco více</h3>
                    <p>Skupina čarodějů a čarodějek se připravuje na obranu. Geralt je raněn smečkou
                        nekkerů. Ciri se ujme neznámá žena.
                    </p>
                </section>
            </article>

            </div>    



    <div class="strany"><div class="sticky3"></div>
    </div>
</div>

</body>
</html>